body{
    margin:0;
    padding:0;
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
}
a:link {
  text-decoration:none;
  color:black;
}
a:hover {
  text-decoration:line-through;
  color:black;
  cursor: pointer;
}
a:visited{
    color:black;
}

.eyes{
    position: absolute;
    /*background: #ffffff;*/
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.eye{
    width: 320px;
    height: 220px;

    border: 7px solid black;
    background: #ffffff;
    display: inline-block;
    border-radius: 50%;
    margin: 0px;
    position: relative;
    overflow:hidden;
}
.ball{
    width: 80px;
    height: 80px;
    border: 56px solid black;
    background: #ffffff;
    position:absolute;
    top: 50%;
    left:49.5%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.text{
    font-family: 'Poppins', sans-serif;
    font-style: Bold 700 ;
    color: #ebebeb;
    text-align: center;
    position: absolute;
    /*overflow: auto;*/
    font-size: 100px;
    line-height: 210px;
    margin:0px;
    padding-top: -90px;
    user-select: none;

}

.c1 {
    position:absolute;
    font-style: SemiBold 600 ;
    top:230px;
    left:200px;
    user-select: none;
    pointer-events: stroke;
    animation: animate 12.5s linear infinite;
}
.c1p{
  
    /* top:230px;
    position:absolute;
    left:162px; */
    top:200px;
    position:absolute;

    left:162px;
}
.c1 span{
    position: absolute;
    font-style: SemiBold 600 ;
    display: inline-block;
    text-transform: uppercase;
    top:-100px;
    transform-origin: 0 100px;
}

.c2 {
    position:absolute;
    font-style: SemiBold 600 ;
    top:120px;
    left:910px;
user-select: none;
    pointer-events: stroke;
    animation: animate 12.5s linear infinite;
}
.c2p{
  
    top:90px;
    position:absolute;

    left:868px;
}
.c2 span{
    position: absolute;
    font-style: SemiBold 600 ;
    display: inline-block;
    text-transform: uppercase;
    top:-100px;
    transform-origin: 0 100px;
}

.c3 {
    position:absolute;
    font-style: SemiBold 600 ;
    top:120px;
    left:910px;
user-select: none;
    pointer-events: stroke;
    animation: animate 12.5s linear infinite;
}
.c3p{
  
    top:90px;
    position:absolute;

    left:868px;
}
.c3 span{
    position: absolute;
    font-style: SemiBold 600 ;
    display: inline-block;
    text-transform: uppercase;
    top:-100px;
    transform-origin: 0 100px;
}

.c4 {
    position:absolute;
    font-style: SemiBold 600 ;
    top:120px;
    left:910px;
user-select: none;
    pointer-events: stroke;
    animation: animate 12.5s linear infinite;
}
.c4p{
  
    top:90px;
    position:absolute;

    left:868px;
}
.c4 span{
    position: absolute;
    font-style: SemiBold 600 ;
    display: inline-block;
    text-transform: uppercase;
    top:-100px;
    transform-origin: 0 100px;
}

@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
