#container{
    font-family: "Ubuntu", sans-serif;
    font-style: Bold 700 italic;
    color: #ffffff;
    text-align: center;
    position:relative;
    overflow: auto;
}
h1{
        font-size: 30px;
        text-align: center;
}
html{
        cursor: url(image/cursor.png), default;
        
        background-color: #0e0d57;
}
a{
        cursor: url(image/cursor.png), pointer; 
        height:50%;   
}